@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #302E2B;
}
.check{
    background-color: red;
    

    && img{
        
        animation-name: check;
    
        animation-duration: 0.3s ;
    }
}
.notation-order{
    grid-template-columns: 1fr 3fr 4fr;
}
/* .move-count{
    grid-column: 1/5;
}

.notation{
    grid-column: 4/5;
} */
@keyframes check{
    0%   {transform: rotateZ(20deg);}
    25%  {transform: rotateZ(-20deg);}
    50%  {transform: rotateZ(20deg);}
    75%  {transform: rotateZ(-20deg);}
    100% {transform: rotateZ(20deg);}
}