@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #302E2B;
}
button{ 
    cursor: pointer;
}
#blur{
    filter: blur(5px);
}
.check{
    background-color: red;
    

    && img{
        
        animation-name: check;
    
        animation-duration: 0.3s ;
    }
}
.notation-order{
    grid-template-columns: 1fr 3fr 4fr;
}
.cancel:hover{
    fill:red;
    
}
.cancel{
    fill:#C8C7C6;
    /* background-color: #30ff2B; */
}
#none{
    display: none;
}
@keyframes check{
    0%   {transform: rotateZ(20deg);}
    25%  {transform: rotateZ(-20deg);}
    50%  {transform: rotateZ(20deg);}
    75%  {transform: rotateZ(-20deg);}
    100% {transform: rotateZ(20deg);}
}

@media (max-width: 700px) {
    html{
        font-size: 14px;
    }
}
@media (max-width: 400px) {
    html{
        font-size: 12px;
    }
}